.footer {
  background: var(--light-pink-background-color);

  &__title {
    margin-bottom: 40px;
  }
  &__title--top {
    font-family: 'Titan One';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: calc(21 / 18);
    text-transform: uppercase;

    color: var(--third-text-color);
    display: block;

    width: 232px;

    margin-bottom: 16px;
  }

  &__title--bottom {
    font-family: 'Titan One';
    font-style: normal;
    font-weight: 400;
    font-size: 34px;
    line-height: calc(39 / 34);
    letter-spacing: 0.04em;
    text-transform: uppercase;

    color: var(--secondary-text-color);
    display: block;

    width: 200px;
  }
}

.social__link {
  @extend %link;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: #fea5bb;
  color: var(--main-text-color);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background var(--animation-timing-function);
}

.social__link:hover,
.social__link:focus {
  background: var(--secondary-text-color);
}

.social__list {
  @extend %list;
  display: flex;
  gap: 28px;
  justify-content: flex-end;
  margin-bottom: 40px;
}

.social__icon {
  fill: currentColor;
}

.footer-tel-txt {
  font-weight: 700;
  font-size: 12px;
  line-height: calc(22 / 12);

  text-align: right;

  color: #000000;
}

.footer-tel {
  @extend %link;
  color: var(--secondary-text-color);
}

.sub-footer__txt {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(21 / 14);
  text-align: center;
  color: var(--description-text-color);
}
