.gallery__container {
    @extend %section;
    background: linear-gradient(to bottom, #fff5f6 0%, #fff5f6 19%, #ffffff 19%, #ffffff 100%);

}

.gallery__list {
    display: flex;
    flex-direction: row;
}