.gallery{
    background: linear-gradient(to bottom, #fff5f6 0%, #fff5f6 19%, #ffffff 19%, #ffffff 100%);
    @media screen and(min-width: $tablet) {
        background: linear-gradient(to bottom, #fff5f6 0%, #fff5f6 65%, #ffffff 19%, #ffffff 100%);
    }

    @media screen and(min-width: $desktop) {
        background: linear-gradient(to bottom, #fff5f6 0%, #fff5f6 29%, #ffffff 19%, #ffffff 100%);
    }
}

.gallery__container {
    @extend %section;
    animation: slide-in-elliptic-top-fwd 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    @media screen and (min-width: $mobile) and (max-width: 1199px) {
        padding: 0;
    }

    @media screen and(min-width: $desktop) {
        padding-left: 94px;
        padding-right: 94px;
    }
}

@keyframes slide-in-elliptic-top-fwd {
    0% {
        transform: translateY(-600px) rotateX(-30deg) scale(0);
        transform-origin: 50% 100%;
        opacity: 0;
    }

    100% {
        transform: translateY(0) rotateX(0) scale(1);
        transform-origin: 50% 1400px;
        opacity: 1;
    }
}

.gallery__overflow {
    width: 44px;
    height: 44px;
    box-shadow: 7px 5px 20px -2px rgba(230, 23, 23, 0.33);
    border: 2px solid opacity($color: #000000);
    border-radius: 8px;
    overflow: hidden;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
        &:hover,
        &:focus {
            transform: scale(2);
            box-shadow: none;
        }

    @media screen and(min-width: $tablet) {
        box-shadow: 14px 10px 40px -7px rgba(230, 23, 23, 0.33);
        width: 105px;
        height: 105px;
        border-radius: 20px;
    }

    @media screen and(min-width: $desktop) {
        box-shadow: 21px 18px 64px -16px rgba(230, 23, 23, 0.33);
        width: 138px;
        height: 138px;
    }
}

.gallery__overflow--large {
    width: 90px;
    height: 90px;
    box-shadow: 21px 18px 64px -16px rgba(230, 23, 23, 0.26);
    border: 2px solid opacity($color: #000000);
    border-radius: 8px;
    overflow: hidden;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
        &:hover,
        &:focus {
            transform: scale(1);
            box-shadow: 21px 18px 64px -16px rgba(230, 23, 23, 0.26);
        }
    
    @media screen and(min-width: $tablet) {
        width: 215px;
        height: 215px;
        border-radius: 20px;
    }
    
    @media screen and(min-width: $desktop) {
        width: 283px;
        height: 283px;
    }
}

.gallery__grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 2px;
    width: auto;

    @media screen and(min-width: $tablet) {
        grid-gap: 6px;
    }
    
    @media screen and(min-width: $desktop) {
        grid-gap: 8px;
    }
}

.gallery__grid > div:nth-child(1) {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 5;
    grid-row-end: 10;

    @media screen and(min-width: $tablet) {
        grid-row-start: 11;
        grid-row-end: 23;
    }

    @media screen and(min-width: $desktop) {
    grid-row-start: 15;
    grid-row-end: 29;
    }
}

.gallery__grid>div:nth-child(2) {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 8;

    @media screen and(min-width: $tablet) {
        grid-row-start: 7;
        grid-row-end: 19;
    }

    @media screen and(min-width: $desktop) {
        grid-row-start: 10;
        grid-row-end: 24;
    }
}

.gallery__grid>div:nth-child(3) {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 8;
    grid-row-end: 12;

@media screen and(min-width: $tablet) {
        grid-row-start: 19;
        grid-row-end: 31;
    }

    @media screen and(min-width: $desktop) {
        grid-row-start: 24;
        grid-row-end: 38;
    }
}

.gallery__grid>div:nth-child(4) {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 10;

    @media screen and(min-width: $tablet) {
        grid-row-end: 21;
    }

    @media screen and(min-width: $desktop) {
        grid-row-end: 29;
    }
}

.gallery__grid>div:nth-child(5) {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 10;
    grid-row-end: 13;

    @media screen and(min-width: $tablet) {
        grid-row-start: 21;
        grid-row-end: 33;
    }

    @media screen and(min-width: $desktop) {
        grid-row-start: 29;
        grid-row-end: 43;
    }
}

.gallery__grid>div:nth-child(6) {
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 4;
    grid-row-end: 9;

    @media screen and(min-width: $tablet) {
        grid-row-start: 8;
        grid-row-end: 20;
    }

    @media screen and(min-width: $desktop) {
        grid-row-start: 11;
        grid-row-end: 25;
    }
}

.gallery__grid>div:nth-child(7) {
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 9;
    grid-row-end: 13;

    @media screen and(min-width: $tablet) {
        grid-row-start: 20;
        grid-row-end: 32;
    }

    @media screen and(min-width: $desktop) {
        grid-row-start: 25;
        grid-row-end: 39;
    }
}

.gallery__grid>div:nth-child(8) {
    grid-column-start: 6;
    grid-column-end: 7;
    grid-row-start: 3;
    grid-row-end: 8;

    @media screen and(min-width: $tablet) {
        grid-row-start: 6;
        grid-row-end: 18;
    }

    @media screen and(min-width: $desktop) {
        grid-row-start: 9;
        grid-row-end: 23;
    }
}

.gallery__grid>div:nth-child(9) {
    grid-column-start: 6;
    grid-column-end: 7;
    grid-row-start: 8;
    grid-row-end: 12;

    @media screen and(min-width: $tablet) {
        grid-row-start: 18;
        grid-row-end: 30;
    }

    @media screen and(min-width: $desktop) {
        grid-row-start: 23;
        grid-row-end: 37;
    }
}

.gallery__grid>div:nth-child(10) {
    grid-column-start: 7;
    grid-column-end: -1;
    grid-row-start: 5;
    grid-row-end: 10;

    @media screen and(min-width: $tablet) {
        grid-row-start: 11;
        grid-row-end: 23;
    }

    @media screen and(min-width: $desktop) {
        grid-row-start: 16;
        grid-row-end: 30;
    }
}