.hero {
  background-color: var(--secondary-background-color);
  height: 502px;
  width: 100%;

  @media screen and (min-width: $tablet) {
    height: 416px;
  }

  @media screen and (min-width: $desktop) {
    height: 664px;
  }
}

.hero__container {
  position: relative;
  padding-top: 194px;
  width: 320px;
  height: 502px;
  overflow: hidden;

  @media screen and (min-width: 480px) {
    width: 480px;
  }

  @media screen and (min-width: $tablet) {
    width: 768px;
    height: 416px;
    padding-top: 104px;
  }
  @media screen and (min-width: $desktop) {
    width: 1200px;
    height: 664px;
    padding-top: 147px;
  }
}
// Big round image - Start

.hero__round {
  position: absolute;
  top: 83px;
  left: 36px;
  width: 346px;
  height: 344px;
  border-radius: 50%;
  background-color: var(--third-text-color);
  overflow: hidden;

  @media screen and (min-width: 480px) {
    left: 120px;
  }

  @media screen and (min-width: $tablet) {
    width: 335px;
    height: 333px;
    top: 43px;
    left: 248px;
  }
  @media screen and (min-width: $desktop) {
    width: 534px;
    height: 534px;
    top: 54px;
    left: 516px;
  }
}

// Big round image - End

// Ice-cream image - Start

.hero__main-img {
  position: absolute;
  top: 92px;
  left: 117px;
  width: 171px;
  height: 410px;
  background-image: url('../images/hero/hero-icecream-mob.png');
  background-size: 171px 410px;

  @media screen and (min-width: 480px) {
    left: 200px;
  }

  @media screen and (min-width: $tablet) {
    top: 80px;
    left: 332px;
    width: 143px;
    height: 336px;
    background-image: url('../images/hero/hero-icecream-tab.png');
    background-size: 143px 336px;
  }
  @media screen and (min-width: $desktop) {
    top: 108px;
    left: 636px;
    width: 236px;
    height: 557px;
    background-image: url('../images/hero/hero-icecream-desc.png');
    background-size: 236px 557px;
  }
}
/* Retina 2x */
@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero__main-img {
    background-image: url('../images/hero/hero-icecream-mob@2x.png');

    @media screen and (min-width: $tablet) {
      background-image: url('../images/hero/hero-icecream-tab@2x.png');
    }
    @media screen and (min-width: $desktop) {
      background-image: url('../images/hero/hero-icecream-desc@2x.png');
    }
  }
}
/* Retina 3x */
@media (min-device-pixel-ratio: 3),
  (min-resolution: 288dpi),
  (min-resolution: 3dppx) {
  .hero__main-img {
    background-image: url('../images/hero/hero-icecream-mob@3x.png');

    @media screen and (min-width: $tablet) {
      background-image: url('../images/hero/hero-icecream-tab@3x.png');
    }
    @media screen and (min-width: $desktop) {
      background-image: url('../images/hero/hero-icecream-desc@3x.png');
    }
  }
}
// Ice-cream image - End

// Milk image - Start

.hero__milk {
  position: absolute;
  top: 246px;
  left: 32px;
  width: 152px;
  height: 154px;
}
.hero__milk-img {
  position: absolute;
  top: 246px;
  left: 32px;
  width: 152px;
  height: 154px;
  background-image: url('../images/hero/hero-milk-tab.png');
  background-size: 152px 154px;

  @media screen and (max-width: 767px) {
    display: none;
  }
  @media screen and (min-width: $desktop) {
    top: 388px;
    left: 16px;
    width: 213px;
    height: 216px;
    background-image: url('../images/hero/hero-milk-desc.png');
    background-size: 213px 216px;
  }
}
/* Retina 2x */
@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero__milk-img {
    background-image: url('../images/hero/hero-milk-tab@2x.png');

    @media screen and (min-width: $desktop) {
      background-image: url('../images/hero/hero-milk-desc@2x.png');
    }
  }
}
/* Retina 3x */
@media (min-device-pixel-ratio: 3),
  (min-resolution: 288dpi),
  (min-resolution: 3dppx) {
  .hero__milk-img {
    background-image: url('../images/hero/hero-milk-tab@3x.png');

    @media screen and (min-width: $desktop) {
      background-image: url('../images/hero/hero-milk-desc@3x.png');
    }
  }
}

// Milk image - End

// Girl image - Start
.hero__girl-img {
  position: absolute;
  top: 265px;
  left: 546px;
  width: 190px;
  height: 150px;
  background-image: url('../images/hero/hero-girl-tab.png');
  background-size: 190px 150px;

  @media screen and (max-width: 767px) {
    display: none;
  }
  @media screen and (min-width: $desktop) {
    top: 423px;
    left: 877px;
    width: 304px;
    height: 241px;
    background-image: url('../images/hero/hero-girl-desc.png');
    background-size: 304px 241px;
  }
}
/* Retina 2x */
@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero__girl-img {
    background-image: url('../images/hero/hero-girl-tab@2x.png');

    @media screen and (min-width: $desktop) {
      background-image: url('../images/hero/hero-girl-desc@2x.png');
    }
  }
}
/* Retina 3x */
@media (min-device-pixel-ratio: 3),
  (min-resolution: 288dpi),
  (min-resolution: 3dppx) {
  .hero__girl-img {
    background-image: url('../images/hero/hero-girl-tab@3x.png');

    @media screen and (min-width: $desktop) {
      background-image: url('../images/hero/hero-girl-desc@3x.png');
    }
  }
}

// Girl image - End

// Numbers

.hero__wrapper {
  position: absolute;
  top: 92px;
  left: 685px;
  width: 51px;
  height: 103px;

  @media screen and (max-width: 767px) {
    display: none;
  }
  @media screen and (min-width: $desktop) {
    top: 152px;
    left: 1092px;

    width: 92px;
    height: 168px;
  }
}
.hero__wrapper-16 {
  width: 43px;
  height: 44px;
  margin-left: 8px;

  @media screen and (min-width: $desktop) {
    width: 72px;
    height: 77px;
    margin-left: 20px;
  }

  &::after {
    display: block;
    content: '';
    position: absolute;
    top: 0;
    right: 0;

    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: var(--main-text-color);

    @media screen and (min-width: $desktop) {
      width: 30px;
      height: 30px;
    }
  }
}

.hero__wrapper-23 {
  position: relative;
  width: 51px;
  height: 43px;

  @media screen and (min-width: $desktop) {
    width: 92px;
    height: 76px;
  }

  &::after {
    display: block;
    content: '';
    position: absolute;
    top: 0;
    right: 0;

    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: var(--main-text-color);

    @media screen and (min-width: $desktop) {
      width: 30px;
      height: 30px;
    }
  }
}

.hero__number {
  position: relative;
  z-index: 100;
  display: block;
  font-family: 'Titan One';
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: calc(32 / 28);
  margin-bottom: 0;
  text-align: left;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--secondary-text-color);

  @media screen and (min-width: $desktop) {
    font-size: 46px;
    line-height: calc(53 / 46);
    margin-bottom: 2px;
  }
}

.hero__number-23 {
  text-align: center;
}

.hero__number-desc {
  display: block;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 8px;
  line-height: calc(10 / 8);
  text-align: left;
  color: var(--main-text-color);

  @media screen and (min-width: $desktop) {
    font-size: 14px;
    line-height: calc(18 / 14);
  }
}
.cafes {
  text-align: center;
}
// H1 - Start

.hero__content {
  position: relative;
  width: 218px;
  height: auto;
  margin-bottom: 61px;
  @media screen and (min-width: $tablet) {
    width: 162px;
  }

  @media screen and (min-width: $desktop) {
    width: 277px;
    margin-bottom: 108px;
  }

  &:hover {
    margin-bottom: 35px;
  }
}

.hero__header {
  width: 100%;
  height: 106px;
  margin-bottom: 20px;

  font-family: 'Titan One';
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: calc(30 / 26);
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--main-text-color);

  transition-duration: 500ms;

  @media screen and (min-width: $tablet) {
    height: 80px;
    font-size: 22px;
    line-height: calc(25 / 22);
  }
  @media screen and (min-width: $desktop) {
    height: 137px;
    font-size: 38px;
    line-height: calc(44 / 38);
    margin-bottom: 24px;
  }

  &:hover {
    transform: scale(1.1);
    transition: transform var(--animation-timing-function);
  }
}

.hero__header-part {
  display: block;
  width: 100%;
  font-size: 48px;
  line-height: calc(46 / 48);
  color: var(--secondary-text-color);

  @media screen and (min-width: $tablet) {
    font-size: 34px;
    line-height: calc(31 / 34);
  }
  @media screen and (min-width: $desktop) {
    font-size: 58px;
    line-height: calc(52 / 58);
  }
}
// H1 - End

// 2 Buttons - Start

.hero__buttons {
  @extend %list;
  display: flex;
  gap: 8px;
}

.hero__item {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 24px;
  border-radius: 20px;

  transition: background-color var(--animation-timing-function);

  @media screen and (min-width: $desktop) {
    height: 40px;
  }
  &:hover,
  &:focus {
    background-color: #ecebeb;
    box-shadow: 0px 3px 1px rgb(0 0 0 / 10%), 0px 1px 2px rgb(0 0 0 / 8%),
      0px 2px 2px rgb(0 0 0 / 12%);
    transform: scale(1.1);
    transition: transform var(--animation-timing-function);
  }
}
.hero__item:hover .hero__link {
  color: var(--secondary-text-color);
  font-weight: 700;
}
.hero__item:hover .hero__link-about {
  color: var(--main-text-color);
}
.hero__item-about:hover,
.hero__item-about:focus {
  background-color: var(--secondary-text-color);
}

.hero__item-products {
  width: 62.4px;
  background: var(--secondary-text-color);

  @media screen and (min-width: $desktop) {
    width: 107px;
  }
}

.hero__item-about {
  width: 82.8px;
  background: var(--main-text-color);

  @media screen and (min-width: $desktop) {
    width: 138px;
  }
}
.hero__link {
  @extend %link;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 8px;
  line-height: calc(10 / 8);

  @media screen and (min-width: $desktop) {
    font-size: 14px;
    line-height: calc(18 / 14);
  }
}

.hero__link-products {
  color: var(--main-text-color);
}
.hero__link-about {
  color: var(--secondary-text-color);
}

// 2 Buttons - End

// Hero Text - Start

.hero__text-btn {
  position: absolute;
  top: 287px;
  left: 184px;

  @media screen and (max-width: 767px) {
    display: none;
  }
  @media screen and (min-width: $desktop) {
    top: 456px;
    left: 229px;
  }
}
.hero__text {
  position: relative;
  max-width: 125px;
  height: 48px;
  margin-bottom: 7px;

  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 8px;
  line-height: calc(12 / 8);
  color: var(--main-text-color);

  @media screen and (max-width: 767px) {
    display: none;
  }
  @media screen and (min-width: $desktop) {
    max-width: 200px;
    height: 78px;
    font-size: 14px;
    line-height: calc(20 / 14);
    margin-bottom: 20px;
  }
}

// Hero Text - End

// Hero Button (arrow right)
.hero__btn-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin: 0;
  padding: 0;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: none;
  background: var(--main-background-color);

  @media screen and (min-width: $desktop) {
    width: 26px;
    height: 26px;
  }
}
.hero__btn-arrow:hover {
  background-color: var(--secondary-text-color);
  box-shadow: 0px 1px 1px rgb(0 0 0 / 12%), 0px 4px 4px rgb(0 0 0 / 6%),
    1px 4px 6px rgb(0 0 0 / 16%);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero__arrow-link {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin: 0;
  padding: 0;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: none;

  @media screen and (min-width: $desktop) {
    width: 26px;
    height: 26px;
  }
}
.hero__btn-arrow__icon {
  width: 10px;
  height: 10px;
  fill: var(--secondary-text-color);

  @media screen and (min-width: $desktop) {
    width: 15px;
    height: 15px;
  }
}
.hero__btn-arrow:hover .hero__btn-arrow__icon {
  fill: white;
}

// .hero__btn {
//   width: 18px;
//   height: 18px;
//   padding: 0;
//   border-radius: 50%;
//   border: 0;
//   background-color: transparent;
//   background-image: url('../images/hero/hero__arrow-right.png');
//   background-size: cover;

//   @media screen and (max-width: 767px) {
//     display: none;
//   }

//   @media screen and (min-width: $desktop) {
//     width: 26px;
//     height: 26px;
//     background-image: url('../images/hero/hero__arrow-right__2x.png');

//   }
//   &:hover,
//   &:focus {
//     background-color: #ecebeb;
//     box-shadow: 0px 3px 1px rgb(0 0 0 / 10%), 0px 1px 2px rgb(0 0 0 / 8%),
//       0px 2px 2px rgb(0 0 0 / 12%);
//     transform: scale(1.1);
//     transition: transform var(--animation-timing-function);
//   }
// }

//  Animation Pulse
.pulse {
  display: block;
  margin-bottom: 16px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: transparent;
  cursor: pointer;
  box-shadow: 0 0 0 rgba(245, 9, 127, 0.4);
  animation: pulse 2s infinite;

  @media screen and (min-width: $desktop) {
    margin-bottom: 15px;
    width: 85px;
    height: 85px;
  }
  .pulse:hover {
    animation: none;
  }

  @-webkit-keyframes pulse {
    0% {
      -webkit-box-shadow: 0 0 0 0 rgb(245, 95, 170);
    }
    70% {
      -webkit-box-shadow: 0 0 0 10px rgba(245, 32, 57, 0);
    }
    100% {
      -webkit-box-shadow: 0 0 0 0 rgba(245, 32, 57, 0);
    }
  }
  @keyframes pulse {
    0% {
      -moz-box-shadow: 0 0 0 0 rgba(245, 32, 57, 0.783);
      box-shadow: 0 0 0 0 rgba(245, 32, 57, 0.783);
    }
    70% {
      -moz-box-shadow: 0 0 0 30px rgba(245, 32, 57, 0);
      box-shadow: 0 0 0 30px rgba(245, 32, 57, 0);
    }
    100% {
      -moz-box-shadow: 0 0 0 0 rgba(245, 32, 57, 0);
      box-shadow: 0 0 0 0 rgba(245, 32, 57, 0);
    }
  }
}
