ul {
  padding: 0;
}
p {
  margin: 0;
}
.products {
  padding-top: 60px;
  padding-bottom: 60px;
}
.products__label {
  font-family: 'Titan One';
  font-weight: 400;
  font-size: 18px;
  line-height: 1.17;
  text-align: center;
  text-transform: uppercase;
  color: var(--third-text-color);
  margin-bottom: 16px;
}
.products__tittle {
  font-family: 'Titan One';
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--secondary-text-color);
  margin-bottom: 148px;
  @media screen and (min-width: $tablet) {
    margin-bottom: 158px;
  }
  @media screen and (min-width: $desktop) {
    margin-bottom: 281px;
  }
}
.products-list {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @media screen and (min-width: $tablet) {
    display: flex;
    flex-direction: row;
  }
}
.products-list__item {
  position: relative;
  width: 280px;
  height: 489px;
  border-radius: 24px;
}
.products-list__item:not(:last-child) {
  margin-bottom: 140px;
}

@media screen and (min-width: $tablet) {
  .products-list__item:not(:last-child) {
    margin-right: 16px;
    margin-bottom: 0;
  }
  .products-list__item {
    width: 224px;
    height: 473px;
  }
  .products__label {
    font-size: 26px;
    line-height: 1.15;
  }
  .products__tittle {
    font-size: 48px;
    line-height: 1.15;
  }
}

@media screen and (min-width: $desktop) {
  .products__label {
    font-size: 30px;
    line-height: 1.13;
  }
  .products__tittle {
    font-size: 58px;
    line-height: 1.14;
  }

  .products-list__item:not(:last-child) {
    margin-right: 32px;
  }

  .products-list__item {
    width: 368px;
    height: 535px;
  }
}

.products-list__item--cream::before {
  content: '';
  position: absolute;
  display: block;
  top: -28%;
  left: 50%;
  transform: translate(-50%);
  width: 280px;
  height: 280px;
  max-width: 100%;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../images/prodacts/mob/mobile_ice_cream_1x-min.png);
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../images/prodacts/mob/mobile_ice_cream_2x-min.png);
  }
  @media screen and (min-width: $tablet) {
    background-image: url(../images/prodacts/tab/tablet_ice_cream_1x-min.png);
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/prodacts/tab/tablet_ice_cream_2x-min.png);
    }
  }
  @media screen and (min-width: $desktop) {
    background-image: url(../images/prodacts/desk/desktop_ice_cream_1x-min.png);
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/prodacts/desk/desktop_ice_cream_2x-min.png);
    }
  }
}
.products-list__item--cream {
  background: var(--secondary-background-color);
}
.products-list__item--coffee::before {
  content: '';
  position: absolute;
  display: block;
  top: -28%;
  left: 50%;
  transform: translate(-50%);
  width: 280px;
  height: 280px;
  max-width: 100%;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../images/prodacts/mob/mobile_ice_coffee_1x-min.png);
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../images/prodacts/mob/mobile_ice_coffee_2x-min.png);
  }
  @media screen and (min-width: $tablet) {
    background-image: url(/src/images/prodacts/tab/tablet_ice_coffee_1x-min.png);
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/prodacts/tab/tablet_ice_coffee_2x-min.png);
    }
  }
  @media screen and (min-width: $desktop) {
    background-image: url(../images/prodacts/desk/desktop_ice_coffee_1x-min.png);
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/prodacts/desk/desktop_ice_coffee_2x-min.png);
    }
  }
}
.products-list__item--coffee {
  background: var(--beige-background-color);
}
.products-list__item--shakes::before {
  content: '';
  position: absolute;
  display: block;
  top: -28%;
  left: 50%;
  transform: translate(-50%);
  width: 280px;
  height: 280px;
  max-width: 100%;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../images/prodacts/mob/mobile_milkshakes_1x-min.png);
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../images/prodacts/mob/mobile_milkshakes_2x-min.png);
  }
  @media screen and (min-width: $tablet) {
    background-image: url(../images/prodacts/tab/tablet_milkshakes_1x-min.png);
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/prodacts/tab/tablet_milkshakes_2x-min.png);
    }
  }
  @media screen and (min-width: $desktop) {
    background-image: url(../images/prodacts/desk/desktop_milkshakes_1x-min.png);
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/prodacts/desk/desktop_milkshakes_2x-min.png);
    }
  }
}
@media screen and (min-width: $tablet) {
  .products-list__item--cream::before,
  .products-list__item--coffee::before,
  .products-list__item--shakes::before {
    width: 224px;
    height: 224px;
  }
}
@media screen and (min-width: $desktop) {
  .products-list__item--cream::before,
  .products-list__item--coffee::before,
  .products-list__item--shakes::before {
    width: 368px;
    height: 394px;
    top: -50%;
  }
}

.products-list__item--shakes {
  background: var(--green-background-color);
}
.products__wrapper {
  padding: 150px 40px 0px;
  @media screen and (min-width: $tablet) {
    padding: 118px 35px 0px;
  }
}
.products-list__tittle {
  font-family: 'Titan One';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--main-text-color);
  padding-top: 20px;
  @media screen and (min-width: $desktop) {
    font-size: 30px;
  }
}
.products__elipse-container {
  display: flex;
  margin: 32px auto 32px;
}
.products__elipse {
  width: 6px;
  height: 6px;
  background-color: var(--main-background-color);
  border-radius: 50%;
  margin: 0 auto;
  display: block;
  position: relative;
}
.products__elipse::before {
  content: '';
  width: 6px;
  height: 6px;
  background-color: var(--main-background-color);
  border-radius: 50%;
  display: block;
  margin-left: 10px;
}
.products__elipse::after {
  content: '';
  position: absolute;
  width: 6px;
  height: 6px;
  background-color: var(--main-background-color);
  border-radius: 50%;
  display: block;
  top: 0px;
  margin-left: -10px;
}
.products-list__text {
  width: 200px;
  height: 124px;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--main-text-color);
  margin-bottom: 32px;
  @media screen and (min-width: $tablet) {
    width: 160px;
    height: 150px;
  }
  @media screen and (min-width: $desktop) {
    width: 241px;
    height: 106px;
    font-size: 16px;
    ine-height: 1.8;
    margin-bottom: 90px;
    margin-left: 30px;
  }
}
.products__button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin: 0 auto;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  background: var(--main-background-color);
}
.products__button:hover {
  background-color: var(--secondary-text-color);
  box-shadow: 0px 1px 1px rgb(0 0 0 / 12%), 0px 4px 4px rgb(0 0 0 / 6%),
    1px 4px 6px rgb(0 0 0 / 16%);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.products__icon {
  width: 15px;
  height: 15px;
  fill: var(--secondary-text-color);
}
.products__button:hover .products__icon {
  fill: white;
}

// .products__thumb {
//   overflow: hidden;
// }
.products__action {
  opacity: 0;
  width: 83%;
  height: 34%;
  border: 1px solid;
  border-radius: 21px;
  position: absolute;
  bottom: 84px;
  left: 25px;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 0.04em;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 1px 1px rgb(0 0 0 / 12%), 0px 4px 4px rgb(0 0 0 / 6%),
    1px 4px 6px rgb(0 0 0 / 16%);

  @media screen and (min-width: $tablet) {
    width: 80%;
    height: 39%;
    bottom: 67px;
    left: 22px;
    font-size: 13px;
  }
  @media screen and (min-width: $desktop) {
    width: 73%;
    height: 36%;
    bottom: 100px;
    left: 50px;
    font-size: 16px;
  }
}
.products__action--cream {
  color: var(--secondary-background-color);
  border-color: var(--secondary-background-color);
  background: var(--third-background-color);
}
.products__action--coffee {
  color: var(--beige-background-color);
  border-color: var(--beige-background-color);
  background: var(--third-background-color);
}
.products__action--milkshakes {
  color: var(--green-background-color);
  border-color: var(--green-background-color);
  background: var(--third-background-color);
}
.products__button:hover .products__action {
  opacity: 1;
}
