@import './utils/breakpoints';
@import './utils/variables';
@import './utils/visually-hidden';
@import './utils/reset';
@import './common';
@import './fonts';
@import './button';
@import './base';
@import './utils/placeholders';
@import './header';
@import './hero';
@import './products';
@import './about';
@import './advantages';
@import './gallery';
@import './reviews';
@import './contacts';
@import './modal-locations';
@import './modal-franchise';
@import './footer';