:root {
    --main-text-color: #FFFFFF;
    --secondary-text-color: #D41443;
    --third-text-color: #FFA5BA;
    --paragraph-text-color: #000000;
    --description-text-color: #907E82;
    --main-background-color: #FFFFFF;
    --secondary-background-color: #FFB8CA;
    --third-background-color: #FFF5F6;
    --mobile-menu-background-color: #E17992;
    --beige-background-color: #F0D1A5;
    --green-background-color: #C2E297;
    
   
}