<section class="advantages">
    <div class="container advantages-container">
        <h2 class="advantages__title visually-hidden">Advantages</h2>
        <ul class="advantages__list">
            <li class="advantages__item"> 
                <svg class="advantages__icon" height="50" width="50">
                    <use href="/src/images/icons.svg#icon-advantages-1"></use>
                </svg>
                <h3 class="advantages__caption">721</h3>
                <p class="advantages__phrase">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            <li class="advantages__item"> 
                <svg class="advantages__icon" height="50" width="50">
                    <use href="/src/images/icons.svg#icon-advantages-2"></use>
                </svg>
                <h3 class="advantages__caption">16kg</h3>
                <p class="advantages__phrase">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            <li class="advantages__item"> 
                <svg class="advantages__icon" height="50" width="44">
                    <use href="/src/images/icons.svg#icon-advantages-3"></use>
                </svg>

                <h3 class="advantages__caption">84</h3>

                <p class="advantages__phrase phrase-last">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>

            </li>


        </ul>


    </div>
</section>