<!-- Section-contacts -->
<section class="contacts" >
    <div class="container">
      <h2 class="visually-hidden" id="contacts">contacts</h2>
      <ul class="contacts__list">

        <li class="contacts__item">
          <span class="contacts__location">cafe</span>
          <p class="contacts__city">Chicago</p>
          <p class="contacts__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
          <ul class="contacts__info">
            <li class="contacts__schedule">
              <p class="contacts__graph">Monday - Friday</p>
              <p class="contacts__timetable">06:00 AM - 10:00 PM</p>
            </li>
            <li class="contacts__schedule">
              <p class="contacts__graph">Saturday - Sunday</p>
              <p class="contacts__timetable">08:00 AM - 16:00 PM</p>
            </li>
          </ul>

          <ul class="contacts__connection">
            <li>
              <a class="contacts__mail" href="mailto:info@example.com">noreply@envato.com</a>
            </li>
            <li><a class="contacts__tel" href="tel:+380961111111">+61(0) 383 766 284</a></li>
          </ul>
        </li>

        <li class="contacts__item">
          <span class="contacts__location contacts__location-second">food truck</span>
          <p class="contacts__city">Los Angeles</p>
          <p class="contacts__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
          <ul class="contacts__info">
            <li class="contacts__schedule">
              <p class="contacts__graph">Monday - Friday</p>
              <p class="contacts__timetable">06:00 AM - 10:00 PM</p>
            </li>
            <li class="contacts__schedule">
              <p class="contacts__graph">Saturday - Sunday</p>
              <p class="contacts__timetable">08:00 AM - 16:00 PM</p>
            </li>
          </ul>

          <ul class="contacts__connection">
            <li>
              <a class="contacts__mail" href="mailto:info@example.com">noreply@envato.com</a>
            </li>
            <li><a class="contacts__tel" href="tel:+380961111111">+61(0) 383 766 284</a></li>
          </ul>
        </li>

        <li class="contacts__item">
          <span class="contacts__location">cafe</span>
          <p class="contacts__city">New York</p>
          <p class="contacts__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
          <ul class="contacts__info">
            <li class="contacts__schedule">
              <p class="contacts__graph">Monday - Friday</p>
              <p class="contacts__timetable">06:00 AM - 10:00 PM</p>
            </li>
            <li class="contacts__schedule">
              <p class="contacts__graph">Saturday - Sunday</p>
              <p class="contacts__timetable">08:00 AM - 16:00 PM</p>
            </li>
          </ul>

          <ul class="contacts__connection ">
            <li>
              <a class="contacts__mail" href="mailto:info@example.com">noreply@envato.com</a>
            </li>
            <li><a class="contacts__tel" href="tel:+380961111111">+61(0) 383 766 284</a></li>
          </ul>
        </li>
      </ul>
      <div class="contacts__btn-group">
      <ul class="contacts__btn">
        <!-- <li><a class="btnz btnz-accent btnz-test" href="https://goo.gl/maps/wgbN2FhfkzLM5yPC6" target="_blank" rel="noopener noreferrer" >Open</a></li> -->
        <li><button type="button" class="btnz btnz-accent" data-modal-locations-open>Our Locations
          <svg class="icon-arrow-z" width="5px" height="8px" fill="#FFFFFF"><use href="./images/iconx.svg#icon-arrow-z"></use></svg>
      </button></li>
        <li><button type="button" class="btnz btnz-white" data-modal-franchise-open>Franchise
          <svg class="icon-arrow-x" width="5px" height="8px" fill="#D41443"><use href="./images/iconx.svg#icon-arrow-x"></use></svg>
        </button></li>
          
      </ul>
    </div>





    </div>
  </section>

    <!-- Modal Window franchise -->
    <div class="backdrop is-hidden" data-modal-franchise>
      <div class="modal">
        <button class="modal__close-btn" type="button" data-modal-franchise-close>
          <svg class="icon-close" width="18px" height="18px" fill="red">
            <use href="./images/iconx.svg#icon-close"></use>
          </svg>
        </button>

        <form class="form">
          <div class="form__wrapper">
            <strong class="form__heading">Join our team</strong>

            <label class="form__label" for="name">
              <span class="form__title">Name</span>
              <input class="form__input" type="text" name="name" id="name" placeholder=" " />
              <svg class="form__icon" width="18px" height="18px">
                <use href="./images/icons.svg#icon-person"></use>
              </svg>
            </label>

            <label class="form__label" for="tel">
              <span class="form__title">Telephone</span>
              <input class="form__input" type="tel" name="tel" id="tel" placeholder="" />
              <svg class="form__icon" width="18px" height="18px">
                <use href="./images/icons.svg#icon-phone"></use>
              </svg>
            </label>

            <label class="form__label" for="mail">
              <span class="form__title">Email</span>
              <input class="form__input" type="email" name="mail" id="mail" placeholder="" />
              <svg class="form__icon" width="18px" height="18px">
                <use href="./images/icons.svg#icon-email"></use>
              </svg>
            </label>

            <label class="form__label" for="comment">
              <span class="form__title">Сomment</span>
            </label>
            <textarea
              class="comment"
              name="comment"
              id="comment"
              rows="8"
              placeholder="Type your message here..."
            ></textarea>

            <label class="form__checkbox">
              <input
                class="form__checkbox-input visually-hidden"
                type="checkbox"
                name="user-agreement"
              />
              <span class="form__checkbox-custom">
                <svg class="form__checkbox-icon" width="16px" height="15px">
                  <use href="./images/icons.svg#icon-check-true"></use>
                </svg>
              </span>
              <span class="form__checkbox-agreement">I agree with the newsletter and accept
                <a class="agreement" href=""><span>Terms of an agreement</span></a>
              </span>
            </label>

            <button class="btnz btnz-accent btnz-modal-franchise" type="submit">Send</button>
          </div>
        </form>
      </div>
    </div>

/**
  |============================
  | button up
  |============================
*/
    <a class="back_to_top" title="up">
           <svg class="icon-up" width="50px" height="50px">
        <use href="./images/iconx.svg#icon-up"></use>
      </svg>
    </a>

     <!-- Modal Window Google maps -->
    <div class="backdrop is-hidden" data-modal-locations>
      <div class="modal-locations">
        <button class="modal__close-btn" type="button" data-modal-locations-close>
          <svg class="icon-close" width="18px" height="18px" fill="red">
            <use href="./images/iconx.svg#icon-close"></use>
          </svg>
        </button>
        <iframe class="modal__maps" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d193595.15830990847!2d-74.11976332982557!3d40.6976637483265!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c24fa5d33f083b%3A0xc80b8f06e177fe62!2z0J3RjNGOLdCZ0L7RgNC6LCDQodCo0JA!5e0!3m2!1sru!2sru!4v1659889603951!5m2!1sru!2sru" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
    </div>
   