<footer class="footer">
  <div class="container footer-info">
    <p class="footer__title">
      <span class="footer__title--top">homemade ice cream made</span
      ><span class="footer__title--bottom">with passion</span>
    </p>
    <div class="footer-contact">
      <ul class="social__list">
        <li class="social__item">
          <a class="social__link" href="https://github.com/"
            ><svg class="social__icon" width="19" height="19">
              <use href="./images/icons.svg#icon-github"></use></svg
          ></a>
        </li>
        <li class="social__item">
          <a class="social__link" href="https://web.telegram.org/"
            ><svg class="social__icon" width="19" height="15">
              ;
              <use href="./images/icons.svg#icon-telegram"></use></svg
          ></a>
        </li>
        <li class="social__item">
          <a class="social__link" href="https://www.facebook.com/"
            ><svg class="social__icon" width="9" height="19">
              ;
              <use href="./images/icons.svg#icon-facebook"></use></svg
          ></a>
        </li>
      </ul>
      <p class="footer-tel-txt">
        <span>Feel free to contact</span>
        <a class="footer-tel" href="tel:+610383766284"> +61 (0) 383 766 284</a>
      </p>
    </div>
  </div>
  <div class="test">
    <p>sfdfsdfdfs</p>
  </div>

  <div class="container sub-footer">
    <p class="sub-footer__txt">© 2022 - IceCream. All Rights Reserved.</p>
  </div>
</footer>
