<!-- Gallery -->
<section class="gallery">
    <div class="gallery__container container">
        <h2 id="gallery" class="visually-hidden">Gallery</h2>
        <div class="gallery__grid">
            <div class="gallery__overflow">
                <img class="gallery__img"
                    srcset="./images/gallery-section/gallery-1-desktop.png 1x, ./images/gallery-section/gallery-1-desktop.png 2x, ./images/gallery-section/gallery-1-desktop.png 3x"
                    src="./images/gallery-section/gallery-1-mobile.png"  
                    alt="gallery-img-1" 
                    width="138" height="138" />  
    
            </div>
            <div class="gallery__overflow">
                <img class="gallery__img"
                    srcset="./images/gallery-section/gallery-2-desktop.png 1x, ./images/gallery-section/gallery-2-desktop.png 2x, ./images/gallery-section/gallery-2-desktop.png 3x"
                    src="./images/gallery-section/gallery-2-mobile.png" 
                    alt="gallery-img-2" width="138" height="138" />
            </div>
            <div class="gallery__overflow">
                <img class="gallery__img"
                    srcset="./images/gallery-section/gallery-3-desktop.png 1x, ./images/gallery-section/gallery-3-desktop.png 2x, ./images/gallery-section/gallery-3-desktop.png 3x"
                    src="./images/gallery-section/gallery-3-mobile.png" 
                    alt="gallery-img-3" width="138" height="138" />
            </div>
            <div class="gallery__overflow gallery__overflow--large">
                <img class="gallery__img gallery__img--large"
                    srcset="./images/gallery-section/gallery-4-desktop.png 1x, ./images/gallery-section/gallery-4-desktop.png 2x, ./images/gallery-section/gallery-4-desktop.png 3x"
                    src="./images/gallery-section/gallery-3-mobile.png" 
                    alt="gallery-img-4" width="283" height="283" />
            </div>
            <div class="gallery__overflow">
                <img class="gallery__img"
                    srcset="./images/gallery-section/gallery-5-desktop.png 1x, ./images/gallery-section/gallery-5-desktop.png 2x, ./images/gallery-section/gallery-5-desktop.png 3x"
                    src="./images/gallery-section/gallery-5-mobile.png" 
                    alt="gallery-img-5" width="138" height="138" />
            </div>
            <div class="gallery__overflow">
                <img class="gallery__img"
                    srcset="./images/gallery-section/gallery-6-desktop.png 1x, ./images/gallery-section/gallery-6-desktop.png 2x, ./images/gallery-section/gallery-6-desktop.png 3x"
                    src="./images/gallery-section/gallery-6-mobile.png" 
                    alt="gallery-img-6" width="138" height="138" />
            </div>
            <div class="gallery__overflow">
                <img class="gallery__img"
                    srcset="./images/gallery-section/gallery-7-desktop.png 1x, ./images/gallery-section/gallery-7-desktop.png 2x, ./images/gallery-section/gallery-7-desktop.png 3x"
                    src="./images/gallery-section/gallery-7-mobile.png" 
                    alt="gallery-img-1" width="138" height="138" />
            </div>
            <div class="gallery__overflow">
                <img class="gallery__img"
                    srcset="./images/gallery-section/gallery-8-desktop.png 1x, ./images/gallery-section/gallery-8-desktop.png 2x, ./images/gallery-section/gallery-8-desktop.png 3x"
                    src="./images/gallery-section/gallery-8-mobile.png" 
                    alt="gallery-img-8" width="138" height="138" />
            </div>
            <div class="gallery__overflow">
                <img class="gallery__img"
                    srcset="./images/gallery-section/gallery-9-desktop.png 1x, ./images/gallery-section/gallery-9-desktop.png 2x, ./images/gallery-section/gallery-9-desktop.png 3x"
                    src="./images/gallery-section/gallery-8-mobile.png" 
                    alt="gallery-img-9" width="138" height="138" />
            </div>
            <div class="gallery__overflow">
                <img class="gallery__img"
                    srcset="./images/gallery-section/gallery-10-desktop.png 1x, ./images/gallery-section/gallery-10-desktop.png 2x, ./images/gallery-section/gallery-10-desktop.png 3x"
                    src="./images/gallery-section/gallery-10-mobile.png" 
                    alt="gallery-img-10" width="138" height="138" />
            </div>
        </ul>
    </div>
</section>
