<!-- Gallery -->
<section class="gallery">
    <div class="gallery__container container">
        <h2 id="gallery" class="visually-hidden">Gallery</h2>
        <div class="gallery__grid">
            <div>
                <img 
                    class="gallery__img"
                    srcset="./images/gallery-section/gallery-1-desktop.png 1x, ./images/gallery-section/gallery-1-desktop.png 2x, ./images/gallery-section/gallery-1-desktop.png 3x"
                    src="./images/gallery-section/gallery-1-mobile.png"  
                    alt="gallery-img-1" 
                    width="44" height="44" />  
            </div>
            <div>
                <picture>
                    <!-- Desktop screen -->
                    <source media="(min-width: $desktop)"
                        srcset="./images/gallery-section/gallery-2-desktop.png 1x, ./images/gallery-section/gallery-2-desktop.png 2x, ./images/gallery-section/gallery-2-desktop.png 3x"
                        type="image/png" />
                    <!-- Tablet screen -->
                    <source media="(min-width: $tablet)"
                        srcset="./images/gallery-section/gallery-2-tablet.png 1x, ./images/gallery-section/gallery-2-tablet.png 2x, ./images/gallery-section/gallery-2-tablet.png 3x"
                        type="image/png" />
                    <!-- Mobile screen -->
                    <source media="(min-width: $mobile)"
                        srcset="./images/gallery-section/gallery-2-mobile.png 1x, ./images/gallery-section/gallery-2-mobile.png 2x, ./images/gallery-section/gallery-2-mobile.png 3x"
                        type="image/png" />
                    <img src="./images/gallery-section/gallery-2-mobile.png" alt="gallery-img-2" width="44" height="44" />
                </picture>
            </div>
            <div>
                <picture>
                    <!-- Desktop screen -->
                    <source media="(min-width: $desktop)"
                        srcset="./images/gallery-section/gallery-3-desktop.png 1x, ./images/gallery-section/gallery-3-desktop.png 2x, ./images/gallery-section/gallery-3-desktop.png 3x"
                        type="image/png" />
                    <!-- Tablet screen -->
                    <source media="(min-width: $tablet)"
                        srcset="./images/gallery-section/gallery-3-tablet.png 1x, ./images/gallery-section/gallery-3-tablet.png 2x, ./images/gallery-section/gallery-3-tablet.png 3x"
                        type="image/png" />
                    <!-- Mobile screen -->
                    <source media="(min-width: $mobile)"
                        srcset="./images/gallery-section/gallery-3-mobile.png 1x, ./images/gallery-section/gallery-3-mobile.png 2x, ./images/gallery-section/gallery-3-mobile.png 3x"
                        type="image/png" />
                    <img src="./images/gallery-section/gallery-3-mobile.png" alt="gallery-img-3" width="44" height="44" />
                </picture>
            </div>
            <div>
                <picture>
                    <!-- Desktop screen -->
                    <source media="(min-width: $desktop)"
                        srcset="./images/gallery-section/gallery-4-desktop.png 1x, ./images/gallery-section/gallery-4-desktop.png 2x, ./images/gallery-section/gallery-4-desktop.png 3x"
                        type="image/png" />
                    <!-- Tablet screen -->
                    <source media="(min-width: $tablet)"
                        srcset="./images/gallery-section/gallery-4-tablet.png 1x, ./images/gallery-section/gallery-4-tablet.png 2x, ./images/gallery-section/gallery-4-tablet.png 3x"
                        type="image/png" />
                    <!-- Mobile screen -->
                    <source media="(min-width: $mobile)"
                        srcset="./images/gallery-section/gallery-4-mobile.png 1x, ./images/gallery-section/gallery-4-mobile.png 2x, ./images/gallery-section/gallery-4-mobile.png 3x"
                        type="image/png" />
                    <img src="./images/gallery-section/gallery-4-mobile.png" alt="gallery-img-4" width="90" height="90" />
                </picture>
            </div>
            <div>
                <picture>
                    <!-- Desktop screen -->
                    <source media="(min-width: $desktop)"
                        srcset="./images/gallery-section/gallery-5-desktop.png 1x, ./images/gallery-section/gallery-5-desktop.png 2x, ./images/gallery-section/gallery-5-desktop.png 3x"
                        type="image/png" />
                    <!-- Tablet screen -->
                    <source media="(min-width: $tablet)"
                        srcset="./images/gallery-section/gallery-5-tablet.png 1x, ./images/gallery-section/gallery-5-tablet.png 2x, ./images/gallery-section/gallery-5-tablet.png 3x"
                        type="image/png" />
                    <!-- Mobile screen -->
                    <source media="(min-width: $mobile)"
                        srcset="./images/gallery-section/gallery-5-mobile.png 1x, ./images/gallery-section/gallery-5-mobile.png 2x, ./images/gallery-section/gallery-5-mobile.png 3x"
                        type="image/png" />
                    <img src="./images/gallery-section/gallery-5-mobile.png" alt="gallery-img-5" width="44" height="44" />
                </picture>
            </div>
            <div>
                <picture>
                    <!-- Desktop screen -->
                    <source media="(min-width: $desktop)"
                        srcset="./images/gallery-section/gallery-6-desktop.png 1x, ./images/gallery-section/gallery-6-desktop.png 2x, ./images/gallery-section/gallery-6-desktop.png 3x"
                        type="image/png" />
                    <!-- Tablet screen -->
                    <source media="(min-width: $tablet)"
                        srcset="./images/gallery-section/gallery-6-tablet.png 1x, ./images/gallery-section/gallery-6-tablet.png 2x, ./images/gallery-section/gallery-6-tablet.png 3x"
                        type="image/png" />
                    <!-- Mobile screen -->
                    <source media="(min-width: $mobile)"
                        srcset="./images/gallery-section/gallery-6-mobile.png 1x, ./images/gallery-section/gallery-6-mobile.png 2x, ./images/gallery-section/gallery-6-mobile.png 3x"
                        type="image/png" />
                    <img src="./images/gallery-section/gallery-6-mobile.png" alt="gallery-img-6" width="44" height="44" />
                </picture>
            </div>
            <div>
                <picture>
                    <!-- Desktop screen -->
                    <source media="(min-width: $desktop)"
                        srcset="./images/gallery-section/gallery-7-desktop.png 1x, ./images/gallery-section/gallery-7-desktop.png 2x, ./images/gallery-section/gallery-7-desktop.png 3x"
                        type="image/png" />
                    <!-- Tablet screen -->
                    <source media="(min-width: $tablet)"
                        srcset="./images/gallery-section/gallery-7-tablet.png 1x, ./images/gallery-section/gallery-7-tablet.png 2x, ./images/gallery-section/gallery-7-tablet.png 3x"
                        type="image/png" />
                    <!-- Mobile screen -->
                    <source media="(min-width: $mobile)"
                        srcset="./images/gallery-section/gallery-7-mobile.png 1x, ./images/gallery-section/gallery-7-mobile.png 2x, ./images/gallery-section/gallery-7-mobile.png 3x"
                        type="image/png" />
                    <img src="./images/gallery-section/gallery-7-mobile.png" alt="gallery-img-7" width="44" height="44" />
                </picture>
            </div>
            <div>
                <picture>
                    <!-- Desktop screen -->
                    <source media="(min-width: $desktop)"
                        srcset="./images/gallery-section/gallery-8-desktop.png 1x, ./images/gallery-section/gallery-8-desktop.png 2x, ./images/gallery-section/gallery-8-desktop.png 3x"
                        type="image/png" />
                    <!-- Tablet screen -->
                    <source media="(min-width: $tablet)"
                        srcset="./images/gallery-section/gallery-8-tablet.png 1x, ./images/gallery-section/gallery-8-tablet.png 2x, ./images/gallery-section/gallery-8-tablet.png 3x"
                        type="image/png" />
                    <!-- Mobile screen -->
                    <source media="(min-width: $mobile)"
                        srcset="./images/gallery-section/gallery-8-mobile.png 1x, ./images/gallery-section/gallery-8-mobile.png 2x, ./images/gallery-section/gallery-8-mobile.png 3x"
                        type="image/png" />
                    <img src="./images/gallery-section/gallery-8-mobile.png" alt="gallery-img-8" width="44" height="44" />
                </picture>
            </div>
            <div>
                <picture>
                    <!-- Desktop screen -->
                    <source media="(min-width: $desktop)"
                        srcset="./images/gallery-section/gallery-9-desktop.png 1x, ./images/gallery-section/gallery-9-desktop.png 2x, ./images/gallery-section/gallery-9-desktop.png 3x"
                        type="image/png" />
                    <!-- Tablet screen -->
                    <source media="(min-width: $tablet)"
                        srcset="./images/gallery-section/gallery-9-tablet.png 1x, ./images/gallery-section/gallery-9-tablet.png 2x, ./images/gallery-section/gallery-9-tablet.png 3x"
                        type="image/png" />
                    <!-- Mobile screen -->
                    <source media="(min-width: $mobile)"
                        srcset="./images/gallery-section/gallery-9-mobile.png 1x, ./images/gallery-section/gallery-9-mobile.png 2x, ./images/gallery-section/gallery-9-mobile.png 3x"
                        type="image/png" />
                    <img src="./images/gallery-section/gallery-9-mobile.png" alt="gallery-img-9" width="44" height="44" />
                </picture>
            </div>
            <div>
                <picture>
                    <!-- Desktop screen -->
                    <source media="(min-width: $desktop)"
                        srcset="./images/gallery-section/gallery-10-desktop.png 1x, ./images/gallery-section/gallery-10-desktop.png 2x, ./images/gallery-section/gallery-10-desktop.png 3x"
                        type="image/png" />
                    <!-- Tablet screen -->
                    <source media="(min-width: $tablet)"
                        srcset="./images/gallery-section/gallery-10-tablet.png 1x, ./images/gallery-section/gallery-10-tablet.png 2x, ./images/gallery-section/gallery-10-tablet.png 3x"
                        type="image/png" />
                    <!-- Mobile screen -->
                    <source media="(min-width: $mobile)"
                        srcset="./images/gallery-section/gallery-10-mobile.png 1x, ./images/gallery-section/gallery-10-mobile.png 2x, ./images/gallery-section/gallery-10-mobile.png 3x"
                        type="image/png" />
                    <img src="./images/gallery-section/gallery-10-mobile.png" alt="gallery-img-10" width="44" height="44" />
                </picture>
            </div>
        </ul>
    </div>
</section>
