<header class="page-header">
  <div class="page-header__item">
    <a href="./index.html" class="page-header__logo">
      <svg width="199" height="50" class="page-header__logo-picture">
        <use href="./images/icons.svg#icon-logo"></use>
      </svg>
    </a>

    <div
      class="page-header__wrapper js-menu-container"
      id="mobile-menu"
      data-menu
    >
      <nav class="nav">
        <ul class="nav__list">
          <li class="nav__item">
            <a href="./index.html" class="nav__link">Home</a>
          </li>
          <li class="nav__item">
            <a href="#products" class="nav__link">About us</a>
          </li>
          <li class="nav__item">
            <a href="#about" class="nav__link">How it’s made?</a>
          </li>
          <li class="nav__item">
            <a href="#gallery" class="nav__link">Our products</a>
          </li>
          <li class="nav__item">
            <a href="#contacts" class="nav__link">Contact</a>
          </li>
        </ul>
      </nav>
      <button class="mobile-menu__button" data-modal-buy-nav-open>
        <span class="mobile-menu__button-text">Buy now</span>
        <svg width="7" height="10">
          <use href="./images/iconx.svg#icon-arrow-x"></use>
        </svg>
      </button>
      <button type="button" class="button-close js-close-menu">
        <svg width="16" height="16" class="burger-menu__icons">
          <use
            class="button-close__icon"
            href="./images/icons.svg#icon-menu-close"
          ></use>
        </svg>
      </button>
    </div>

    <button class="page-header__button" data-modal-header-buy-nav-open>
      <span class="page-header__button-text">Buy now</span>
      <svg width="7" height="10">
        <use href="./images/iconx.svg#icon-arrow-x"></use>
      </svg>
    </button>

    <button type="button" class="burger-menu js-open-menu" data-menu-button>
      <svg
        width="20"
        height="14"
        class="burger-menu__icons"
        aria-label="Переключатель мобильного меню"
        aria-expanded="false"
        aria-controls="mobile-menu"
        role="group"
      >
        <use
          class="burger-menu__icon-burger"
          href="./images/icons.svg#icon-burger"
        ></use>
      </svg>
    </button>
  </div>

  <!-- Modal Window buy-nav -->
  <div class="backdrop is-hidden" data-modal-buy-nav>
    <div class="modal">
      <button class="modal__close-btn" type="button" data-modal-buy-nav-close>
        <svg class="icon-close" width="18px" height="18px" fill="red">
          <use href="./images/icons.svg#icon-close"></use>
        </svg>
      </button>

      <form class="form">
        <div class="form__wrapper">
          <strong class="form__heading">Quick Order</strong>

          <label class="form__label" for="icecream">
            <span class="form__title">Name</span>
            <input
              class="form__input"
              type="text"
              name="name"
              id="icecream"
              placeholder=" "
            />
            <svg class="form__icon" width="18px" height="18px">
              <use href="./images/icons.svg#icon-person"></use>
            </svg>
          </label>

          <label class="form__label" for="telnum">
            <span class="form__title">Telephone</span>
            <input
              class="form__input"
              type="tel"
              name="tel"
              id="telnum"
              placeholder=""
            />
            <svg class="form__icon" width="18px" height="18px">
              <use href="./images/icons.svg#icon-phone"></use>
            </svg>
          </label>
          <div style="text-align: center; margin-bottom: 10px">
            <span class="form__checkbox-agreement"
              >We will call you back within 15 minutes</span
            >
          </div>

          <button class="btnz btnz-accent btnz-modal-franchise" type="submit">
            Call me back
          </button>
        </div>
      </form>
    </div>
  </div>
</header>
