<header class="page-header">
  <div class="page-header__item">
    <a href="./index.html" class="page-header__logo">
      <img
        class="page-header__logo-picture"
        src="./images/icons.svg#icon-logo"
        width="199"
        height="50"
        alt="Logo"
      />
    </a>

    <div class="page-header__wrapper" id="mobile-menu" data-menu>
      <nav class="nav">
        <ul class="nav__list">
          <li class="nav__item">
            <a href="./index.html" class="nav__link">Home</a>
          </li>
          <li class="nav__item">
            <a href="#products" class="nav__link">About us</a>
          </li>
          <li class="nav__item">
            <a href="#about" class="nav__link">How it’s made?</a>
          </li>
          <li class="nav__item">
            <a href="#gallery" class="nav__link">Our products</a>
          </li>
          <li class="nav__item">
            <a href="#contacts" class="nav__link">Contact</a>
          </li>
        </ul>
      </nav>
      <button class="mobile-menu__button">
        <span class="mobile-menu__button-text">Buy now</span>
        <svg width="7" height="10">
          <use href="./images/iconx.svg#icon-arrow-x"></use>
        </svg>
      </button>
    </div>

    <button class="page-header__button">
      <span class="page-header__button-text">Buy now</span>
      <svg width="7" height="10">
        <use href="./images/iconx.svg#icon-arrow-x"></use>
      </svg>
    </button>

    <button type="button" class="burger-menu" data-menu-button>
      <svg
        width="20"
        height="14"
        class="burger-menu__icons"
        aria-label="Переключатель мобильного меню"
        aria-expanded="false"
        aria-controls="mobile-menu"
      >
        <use
          class="burger-menu__icon-burger"
          href="./images/icons.svg#icon-burger"
        ></use>
        <use
          class="burger-menu__icon-close"
          href="./images/icons.svg#icon-menu-close"
        ></use>
      </svg>
    </button>
  </div>
</header>
