<section class="hero">
  <div class="container hero__container">
    <!-- Images -->
    <div class="hero__round"></div>
    <div class="hero__main-img"> </div>
    <div class="hero__milk-img"></div> 
    <div class="hero__girl-img"></div>

    <!-- Numbers - Start -->
    <div class="hero__wrapper">
      <div class="pulse">
        <div class="hero__wrapper-16">
        <span class="hero__number">16</span>
        <span class="hero__number-desc cafes">cafes</span>
      </div>
    </div>
    <div class="pulse">
      <div class="hero__wrapper-23">
        <span class="hero__number hero__number-23">23</span>
        <span class="hero__number-desc">food trucks</span>
      </div>
    </div>
    </div>

    <!-- Numbers - End -->

    <div class="hero__content">
      <h1 class="hero__header">
        ice cream made with <span class="hero__header-part">passion</span>
      </h1>
      <!-- // H1 - End -->

      <!-- 2 buttons - Start -->
      <ul class="hero__buttons">
        <li class="hero__item hero__item-products">
          <a class="hero__link hero__link-products" href="#products">
            Products
          </a>
        </li>
        <li class="hero__item hero__item-about">
          <a class="hero__link hero__link-about" href="#about">
            How it’s made?
          </a>
        </li>
      </ul>
      <!-- 2 buttons - End -->
    </div>

    <!-- // H1 - End -->

    <!-- Hero text - Start -->
    <div class="hero__text-btn">
    <p class="hero__text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et
    </p>
    <!-- Hero text - End -->

    <!-- Hero button (arrow right) -->
    <button type="button" class="hero__btn-arrow">
      <a class="hero__arrow-link" href="https://www.youtube.com/watch?v=CHPn77jpt2w" target="_blank" aria-label="Посилання на Ютуб"> 
        <svg class="hero__btn-arrow__icon" width="12px" height="12px">
          <use href="./images/icons.svg#icon-arrow-big"></use>
        </svg>
      </a>
    </button>
  </div>
  </div>
</section>
