<section class="products">
  <div class="container">
    <p class="products__label">100% natural</p>
    <h2 id="products" class="products__tittle">products</h2>
    <ul class="products-list">
      <li class="products-list__item products-list__item--cream">
        <div class="products__wrapper">
          <h3 class="products-list__tittle">ice cream</h3>
          <div class="products__elipse-container">
            <span class="products__elipse"></span>
          </div>
          <p class="products-list__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et. dolore magna aliqua
            facilisis.
          </p>
          <div class="products__thumb">
            <button type="button" class="products__button">
              <svg class="products__icon" width="15px" height="15px">
                <use href="./images/icons.svg#icon-arrow-big"></use>
              </svg>
              <!-- <img
                src="./images/prodacts/arrow-right.png"
                alt="arrow"
                class="products__icon"
                width="40px"
                height="40px"
              /> -->
              <span class="products__action products__action--cream">
                Lorem ipsum, dolor sit amet adipisicing elit. Mollitia fuga
                dolores laudantium, numquam odio quo quas culpa alias? Lorem
                ipsum, dolor sit amet adipisicing elit. Mollitia fuga dolores
                laudantium, numquam odio quo quas culpa alias?
              </span>
            </button>
          </div>
        </div>
      </li>
      <li class="products-list__item products-list__item--coffee">
        <div class="products__wrapper">
          <h3 class="products-list__tittle">ice coffee</h3>
          <div class="products__elipse-container">
            <span class="products__elipse"></span>
          </div>
          <p class="products-list__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et. dolore magna aliqua
            facilisis.
          </p>
          <div class="products__thumb">
            <button type="button" class="products__button">
              <svg class="products__icon" width="15px" height="15px">
                <use href="./images/icons.svg#icon-arrow-big"></use>
              </svg>
              <span class="products__action products__action--coffee">
                Lorem ipsum, dolor sit amet adipisicing elit. Mollitia fuga
                dolores laudantium, numquam odio quo quas culpa alias? Lorem
                ipsum, dolor sit amet adipisicing elit. Mollitia fuga dolores
                laudantium, numquam odio quo quas culpa alias?
              </span>
            </button>
          </div>
        </div>
      </li>
      <li class="products-list__item products-list__item--shakes">
        <div class="products__wrapper">
          <h3 class="products-list__tittle">milkshakes</h3>
          <div class="products__elipse-container">
            <span class="products__elipse"></span>
          </div>
          <p class="products-list__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et. dolore magna aliqua
            facilisis.
          </p>
          <div class="products__thumb">
            <button type="button" class="products__button">
              <svg class="products__icon" width="15px" height="15px">
                <use href="./images/icons.svg#icon-arrow-big"></use>
              </svg>
              <span class="products__action products__action--milkshakes">
                Lorem ipsum, dolor sit amet adipisicing elit. Mollitia fuga
                dolores laudantium, numquam odio quo quas culpa alias? Lorem
                ipsum, dolor sit amet adipisicing elit. Mollitia fuga dolores
                laudantium, numquam odio quo quas culpa alias?
              </span>
            </button>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
