<section class="products">
  <p class="products__paragraf">100% natural</p>
  <h2 class="products__tittle">products</h2>
  <ul class="products-list">
    <li class="products-list__item">
      <h3 class="products-list__tittle">ice cream</h3>
      <p class="products-list__text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et. dolore magna aliqua facilisis.
      </p>
      <button type="button">
        <svg>
          <use></use>
        </svg>
      </button>
    </li>
    <li class="products-list__item">
      <h3 class="products-list__tittle">ice coffee</h3>
      <p class="products-list__text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et. dolore magna aliqua facilisis.
      </p>
      <button type="button">
        <svg>
          <use></use>
        </svg>
      </button>
    </li>
    <li class="products-list__item">
      <h3 class="products-list__tittle">milkshakes</h3>
      <p class="products-list__text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et. dolore magna aliqua facilisis.
      </p>
      <button type="button">
        <svg>
          <use></use>
        </svg>
      </button>
    </li>
  </ul>
</section>
